/*
NAVBAR
*/
.navbar{
    margin-bottom:0px;
}

/*
* Content
*/

.jumbotron {
    padding: 5px;
}

/*
* Multselect
*/
select[multiple]{
    height: 50px;
}
/*
* Numpad
*/
.buttons{
    margin: auto;
}
.numpad{
    margin-top: -20px;
}
.btn{
    min-height: 61px;
}
.num{
    font-size: 35px;
}

@media screen and (min-width:768px){
    .jumbotron {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (min-width:400px){
    .jumbotron {
        padding-right: 30px;
        padding-left: 30px;
    }
}